.example-form {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
  height: 85%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #333333;
  z-index: -1;
}

.example-full-width {
  width: 100%;
  margin-top: 10px;
}

.man {
  padding-right: 5px;
}

.example-button-row {
  padding-left: 15px;
  margin-top: 20px;
}

.calculate {
  margin-right: 15px;
}

.help-block {
  font-size: 10px;
}

.table {
  float: right;
  position: absolute;
  width: 50%;
  right: 300px;
  top: 80px;
  z-index: 1;
}

table {
  width: 100%;
}

.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}
