<form (ngSubmit)="onCalculateTdee()" class="example-form" #f="ngForm">
  <mat-form-field class="example-full-width">
    <input
      [(ngModel)]="model.name"
      name="name"
      type="text"
      class="form-control"
      required
      ngNativeValidate
      minlength="3"
      matInput
      placeholder="Name"
      #name="ngModel"
    />

    <span class="help-block" *ngIf="!name.valid && name.touched"
      >Please enter a name of at least three characters
    </span>
  </mat-form-field>

  <mat-radio-group [(ngModel)]="model.gender" name="gender">
    <mat-radio-button
      *ngFor="let gender of genders"
      [value]="gender"
      name="gender"
      class="man"
      value="always"
      >{{ gender }}</mat-radio-button
    >
  </mat-radio-group>

  <mat-form-field class="example-full-width">
    <input
      [(ngModel)]="model.weight"
      type="number"
      name="weight"
      required
      min="40"
      max="200"
      step="1"
      matInput
      placeholder="Weight (kg)"
      class="form-control"
      #weight="ngModel"
    />
    <span class="help-block" *ngIf="!weight.valid && weight.touched"
      >Weight should be between 40 and 200kg
    </span>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      class="form-control"
      [(ngModel)]="model.length"
      name="length"
      required
      type="number"
      matInput
      placeholder="Length (cm)"
      value=""
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      class="form-control"
      [(ngModel)]="model.age"
      name="age"
      required
      type="number"
      matInput
      placeholder="Age (years)"
      value=""
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select
      class="form-control"
      [(ngModel)]="model.activity"
      name="activity"
      placeholder="Activity level"
      required
    >
      <mat-option value="1.53">Sedentary or light activity</mat-option>
      <mat-option value="1.76">Active or moderatetely active</mat-option>
      <mat-option value="2.25">Vigorously active</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select
      [(ngModel)]="model.goal"
      name="goal"
      class="form-control"
      required
      placeholder="Goal"
    >
      <mat-option value="250">Gain weight</mat-option>
      <mat-option value="250">Lose weight</mat-option>
      <mat-option value="0">Maintain weight</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="example-button-row">
    <button
      mat-raised-button
      color="primary"
      class="calculate"
      type="submit"
      [disabled]="!f.valid"
    >
      Calculate TDEE
    </button>
    <button mat-raised-button color="accent" (click)="f.reset()">Reset</button>
  </div>
</form>

<div class="table">
  <div *ngIf="showActions" class="mat-table">
    <div class="mat-row">
      Basal metabolic rate calories (BMR) : {{ data.bmr }}
    </div>
    <div class="mat-header-row">
      <div class="mat-header-cell">Macronutrient</div>
      <div class="mat-header-cell">Amount</div>
      <div class="mat-header-cell">Energy</div>
      <div class="mat-header-cell">Percentage</div>
    </div>
    <div class="mat-row">
      <div class="mat-cell">Proteines</div>
      <div class="mat-cell">
        {{ data.amountOfProteines }}
      </div>
      <div class="mat-cell">{{ data.proteinEnergy }}</div>
      <div class="mat-cell">{{ data.percentageProteins }}</div>
    </div>
    <div class="mat-row">
      <div class="mat-cell">Carbohydrates</div>
      <div class="mat-cell">
        {{ data.amountOfCarbs }}
      </div>
      <div class="mat-cell">{{ data.carbEnergy }}</div>
      <div class="mat-cell">{{ data.percentageCarbs }}</div>
    </div>
    <div class="mat-row">
      <div class="mat-cell">Fats</div>
      <div class="mat-cell">
        {{ data.amountOfFats }}
      </div>
      <div class="mat-cell">{{ data.fatEnergy }}</div>
      <div class="mat-cell">{{ data.percentageFats }}</div>
    </div>
  </div>
</div>
